<p id="notice"><%= notice %></p>

<h1>Listing Games</h1>

<%= form_tag(game_path(name: ), :method => "get", id: "search-form") do %>
<!-- text field tag=action,args,identifier,placeholdertext... -->
  <%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Game Name", type: "search", data: {autocomplete: games_autocomplete_game_name_path} %>
  <%= submit_tag "Search" %>
<%end%>


<script type="text/javascript" charset="utf-8">
  $('#food_name').bind('railsAutocomplete.select', function(event, data){
    /* Do something here */
    alert("woot");
  });
</script>
